.root {
  // background-color: #eee;
  // padding: 20px;
  text-align: center;

  h2 {
    font-size: 20px;
  }

  button {
    background-color: transparent;
    font-size: 14px;
    width: 100%;
    border: 2px solid #22405a;
    margin-bottom: 1em;
    padding: 1em;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
  }

  button.selected {
    background-color: #ccc;
  }
}
