.root {
  background-color: #eee;
  padding: 20px;
  text-align: center;

  button {
    background-color: white;
    font-size: 14px;
    // display: block;
    width: 100%;
    border: 1px solid #aaa;
    margin-bottom: 1em;
    padding: 1em;
    cursor: pointer;
  }

  button.selected {
    background-color: #ccc;
  }
}
