@use "../../100-percent-correct-break-points.scss" as *;

.root {
  margin-bottom: 2.25rem;
  text-align: center;

  &.padding-left-right {
    padding-left: 15px;
    padding-right: 15px;
  }

  .background-container {
    position: relative;

    .organic-background {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      filter: drop-shadow(4px 5px 0px rgba(0, 63, 131, 0.2));
    }
  }

  button {
    background-color: transparent;
    font-size: 14px;
    width: 100%;
    border: none;
    margin-bottom: 1em;
    padding: 1em;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }

  button.selected {
    // background-color: #ccc;
  }

  .title {
    margin-top: 0.333em;
    margin-bottom: 1em;
    font-weight: 700;
    line-height: 1.5em;
    font-size: 1.5rem;

    @include for-desktop-up {
      font-size: 1.8rem;
    }

    p {
      color: inherit;
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  .response-box {
    margin-top: 1em;
    text-align: left;
    font-weight: bold;

    * {
      // color: unset;
    }

    a {
      // color: #0073a8;
    }
  }

  .pre-title {
    margin-bottom: 0.2em;
    font-size: 17px;
    font-weight: 700;
  }
}

:global {
  .response-box-styles-enter {
    opacity: 0;
  }
  .response-box-styles-enter-active {
    opacity: 1;
    transition: opacity 800ms;
  }
  .response-box-styles-exit {
    opacity: 1;
  }
  .response-box-styles-exit-active {
    opacity: 0;
    transition: opacity 800ms;
  }
}
