element.style {
}
@media (min-width: 1200px)
#content > p {
    width: calc(100vw / 2.2);
    max-width: 660px;
    position: relative;
    left: 50%;
    margin-left: 0 !important;
}
@media (min-width: 700px)
<style>
[class*=u-richtext]>h4, [class*=u-richtext]>p, [class*=u-richtext]>ul li, [class*=u-richtext]>ol li, [class*=u-richtext]>blockquote {
    line-height: 1.666666667;
}
<style>
[class*=u-richtext]>h4, [class*=u-richtext]>p, [class*=u-richtext]>ul li, [class*=u-richtext]>ol li, [class*=u-richtext]>blockquote {
    font-size: 1.125rem;
    line-height: 1.555555556;
}
<style>
.Main *, .Main *::before, .Main *::after {
    box-sizing: border-box;
}
.Main *, .Main h3 {
    color: #2a4059;
}
@media (min-width: 980px)
<style>
.u-layout>* {
    padding-left: 14px;
    padding-right: 14px;
    width: 66.6666666667%;
}
<style>
.u-layout>* {
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}
@media (min-width: 980px)
<style>
[class*=u-richtext]>* {
    margin-bottom: 36px;
}
<style>
[class*=u-richtext]>* {
    margin-top: 0;
    margin-bottom: 24px;
    color: #111;
    font-family: "ABCSerif","Book Antiqua","Palatino Linotype",Palatino,serif;
}
.stPhF * {
    box-sizing: border-box;
}
user agent stylesheet
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
style attribute {
    --Main-offsetTop: 64px;
}
<style>
.Main {
    --Main-offsetTop: 64px;
    display: block;
    line-height: normal;
}
.stPhF {
    font-family: var(--dls-font-stack-sans);
    font-size: 1rem;
    line-height: 1.5rem;
}
style attribute {
    --scrollbar-width: 0px;
    --vw-ratio-16x9: 882px;
}
:root {
    --anchorColor: #ff8901;
}
:root {
    --colour-primary: #01cfff;
    --colour-accent: #01cfff;
    --colour-accent-active: rgba(0,208,255,0.7);
    --colour-accent-faded: rgba(0,208,255,0.25);
    --colour-assistant: #0058cc;
    --colour-assistant-dark: #4d9aff;
    --blockquote-left-border: var(--colour-assistant);
    --masthead-fill: #0f1010;
    --content-label-fill: #000;
    --content-label-text: #fff;
}
:root {
    --ptyred: #d61515;
    --ptyred-light: #f9d9d9;
    --ptyred-dark: #aa3c3c;
    --ptyblue: #1467cc;
    --ptyblue-light: #cedff5;
    --ptyblue-dark: #386199;
    --ptyblack: #757575;
    --ptyblack-light: #dbdbdb;
    --ptyblack-dark: #4c4c4c;
    --ptygreen: #008571;
    --ptygreen-light: #c4e2de;
    --ptylightgreen: #79c400;
    --ptylightgreen-light: #d3ecab;
    --ptygold: #ffc200;
    --ptygold-light: #ffedb1;
    --ptybrown: #9a593a;
    --ptybrown-light: #ead3c8;
    --ptylightblue: #00cde8;
    --ptylightblue-light: #c5f8ff;
    --ptyorange: #ff7f00;
    --ptyorange-light: #ffdfbf;
    --ptyaqua: #003f65;
    --ptyaqua-light: #96b9ce;
    --ptyaqua-dark: #003f65;
    --ptypurple: #9359b3;
    --ptypurple-light: #e4d5ec;
    --ptyforeground: #000;
}
:root {
    --text-primary: #000;
    --text-accent: #000;
    --text-assistant: #fff;
    --tint-1: #333;
    --tint-2: #666;
    --tint-3: #999;
    --tint-4: #ccc;
    --tint-5: #e6e6e6;
    --tint-6: #f2f2f2;
    --colour-tap-highlight: rgba(15,116,179,0.5);
    --colour-visited: #300099;
    --colour-error: #db2100;
    --colour-valid: #2f7f33;
    --black-90: #1a1a1a;
    --black-90-opacity: rgba(0,0,0,0.9);
    --black-80: #333;
    --black-80-opacity: rgba(0,0,0,0.8);
    --black-70: #4d4d4d;
    --black-70-opacity: rgba(0,0,0,0.7);
    --black-60: #666;
    --black-60-opacity: rgba(0,0,0,0.6);
    --black-50: grey;
    --black-50-opacity: rgba(0,0,0,0.5);
    --black-40: #999;
    --black-40-opacity: rgba(0,0,0,0.4);
    --black-30: #b3b3b3;
    --black-30-opacity: rgba(0,0,0,0.3);
    --black-20: #ccc;
    --black-20-opacity: rgba(0,0,0,0.2);
    --black-10: #e6e6e6;
    --black-10-opacity: rgba(0,0,0,0.1);
    --black-05: #f2f2f2;
    --black-05-opacity: rgba(0,0,0,0.05);
    --white-90: #e6e6e6;
    --white-90-opacity: hsla(0,0%,100%,0.9);
    --white-80: #ccc;
    --white-80-opacity: hsla(0,0%,100%,0.8);
    --white-70: #b3b3b3;
    --white-70-opacity: hsla(0,0%,100%,0.7);
    --white-60: #999;
    --white-60-opacity: hsla(0,0%,100%,0.6);
    --white-50: grey;
    --white-50-opacity: hsla(0,0%,100%,0.5);
    --white-40: #666;
    --white-40-opacity: hsla(0,0%,100%,0.4);
    --white-30: #4d4d4d;
    --white-30-opacity: hsla(0,0%,100%,0.3);
    --white-20: #333;
    --white-20-opacity: hsla(0,0%,100%,0.2);
    --white-10: #1a1a1a;
Show All Properties (14 more)
}
<style>
html {
    overflow-x: hidden;
    font-size: 16px;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
    scroll-behavior: auto;
    background-color: #f9f9f9;
    background-color: var(--bg, #f9f9f9);
}
html {
    font-size: var(--html-font-size,16px);
}
<style>
.Main *, .Main *::before, .Main *::after {
    box-sizing: border-box;
}
<style>
.Main *, .Main *::before, .Main *::after {
    box-sizing: border-box;
}