@use "../../100-percent-correct-break-points.scss" as *;

.root {
  min-height: 90vh;
  text-align: center;
  padding-top: 30vh;
  max-width: 650px;
  margin: auto;
  // padding-left: 35px;
  // padding-right: 25px;

  // @include for-desktop-up {
  //   position: relative;
  //   left: 50%;
  //   max-width: 600px;
  //   margin: 0;
  //   transform: translateX(10px);
  // }

  .hero-text {
    margin-bottom: 120vh;
    font-size: 28px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-weight: 700;
    line-height: 1.4;
    color: #2a4059;
    margin-left: 15px;
    margin-right: 15px;

    &.pull-left {
      // TODO: Pull this left
      // color: blue !important;
      position: relative;
      left: 50%;
      width: calc(100vw / 2.5);
      max-width: 650px;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 45vh;
    }

    // -webkit-text-stroke: 1px rgb(255, 255, 255);
    // text-shadow: 1px 1px 2px white, 0 0 25px rgb(255, 255, 255),
    //   0 0 5px rgb(255, 255, 255);

    @include for-desktop-up {
      // width: 100vw;
      // transform: translateX(-50%) translateX(-45px);
      margin-left: -20vw;
      margin-right: -20vw;
    }

    @include for-tablet-landscape-up {
      font-size: 48px;
    }
  }

  .panel {
    padding-top: 45vh !important;
    padding-bottom: 45vh !important;

    // Push panel on Desktop
    @include for-desktop-up {
      &.pull-left {
        padding-top: 0vh !important;
        padding-bottom: 0vh !important;
        margin-top: 25vh;
        margin-bottom: 25vh;
        font-size: 29px;
        width: calc(100vw / 2.5);
        max-width: 650px;
        position: relative;
        left: 50%;
      }
    }
  }

  .panel:last-of-type {
    padding-bottom: 75vh !important;
  }
}
