@use "../../100-percent-correct-break-points.scss" as *;

.root {
  min-height: 90vh;
  text-align: center;
  // padding-top: 30vh;
  max-width: 630px;
  margin: auto;

  .hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    margin-bottom: 40vh;
  }

  .hero-text {
    font-size: 27px;
    font-weight: 700;
    line-height: 1.4;
    color: #2a4059;
    margin-left: 15px;
    margin-right: 15px;

    &.pull-left {
      position: relative;
      left: 50%;
      width: calc(100vw / 2.5);
      max-width: 650px;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 42.5vh;
    }

    @include for-desktop-up {
      margin-left: -20vw;
      margin-right: -20vw;
    }

    @include for-tablet-landscape-up {
      font-size: 48px;
    }
  }

  .panel {
    padding-top: 42.5vh !important;
    padding-bottom: 42.5vh !important;

    .panel:last-of-type {
      padding-bottom: 75vh !important;

      @include for-desktop-up {
        padding-bottom: 42.5vh !important;
      }
    }

    // Push panel on Desktop
    @include for-desktop-up {
      &.pull-left {
        padding-top: 0vh !important;
        padding-bottom: 0vh !important;
        margin-top: 25vh;
        margin-bottom: 25vh;
        font-size: 29px;
        width: calc(100vw / 2.5);
        max-width: 650px;
        position: relative;
        left: 50%;
      }
    }
  }
}
