@use "../../100-percent-correct-break-points.scss" as *;

.root {
  min-height: 90vh;
  text-align: center;
  padding-top: 90vh;
  padding-bottom: 80vh;

  p {
    font-size: 24px;
    line-height: 1.4em;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 2.25rem;
    text-align: left;

    @include for-desktop-up {
      font-size: 38px;
      line-height: 1.4em;
    }

    span {
      background-color: #fef7ef;
      color: #22405a;
      padding: 0.1em 1rem 0.1em 1rem;
      
      font-weight: bold;

      /* Needs prefixing */
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone;
    }
  }
}
