.root {
}

:global {
  .Header-content {
    h1 {
      display: none;
    }
  }

  // Bottom recirculation links
  body main + main:not([class]) {
    background-color: #f9f9f9;
  }

  .Main p {
    background-color: rgba(255, 255, 255, 0.5);
  }

  For testing markers .Main > a[id],
  .Main > a[name],
  .Main > [data-mount][id^="visualKEY"] {
    border-top: 1px solid grey;
  }
}
