$fade-height: 300px;

@use "../../100-percent-correct-break-points.scss" as *;

.root {
  z-index: -2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  text-align: right;
  transition: opacity 500ms;

  // Keep SVG in window
  svg {
    max-height: 160vh;

    // -webkit-transition: all 1s ease;
    // -webkit-mask-size: 100vw 100vh;

    // Change this to animate a wipe effect
    // -webkit-mask-position: 0px 0vh;
    // -webkit-mask-repeat: no-repeat;
    // -webkit-mask-mode: alpha;
    // -webkit-mask-image: linear-gradient(
    //   to top,
    //   rgba(255, 255, 255, 0) 0%,
    //   rgba(255, 255, 255, 1) 50vh
    // );
  }

  // @include for-desktop-up {
  //   width: calc(100vw / 2);
  //   max-width: 700px;
  // }

  // FIX FOR SAFARI BUG THAT CAUSES SLOW SCROLL UPDATES IF DROP-SHADOW
  // APPLIED TO THE SVG DIRECTLY SO JUST APPLY IT TO THE CONTAINING DOM ELEMENT
  // svg {
  filter: drop-shadow(5px 2px 0px rgba(26, 35, 44, 0.2));

  // We can maybe try:
  // filter: drop-shadow(5px 2px 0px #c5c9cf);
  // }

  .svg-container {
    transform-origin: top center;
  }
}

.hidden {
  visibility: hidden;
}

@media (max-width: 1199px) {
  [data-mount][id="visualKEY2"] {
    top: 0 !important;
    height: 150vh;
  }
}
