@use "../../100-percent-correct-break-points.scss" as *;

.root {
  z-index: -5;
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  max-width: 700px;
  transform: translateX(-50%);
  text-align: right;

  // Keep SVG in window
  svg {
    max-height: 100vh;
  }

  @include for-desktop-up {
    width: calc(100vw / 2);
    max-width: 700px;
  }

  // .svg-layer {
  //   position: absolute;
  //   width: 100%;
  // }

  // FIX FOR SAFARI BUG THAT CAUSES SLOW SCROLL UPDATES IF DROP-SHADOW
  // APPLIED TO THE SVG DIRECTLY SO JUST APPLY IT TO THE CONTAINING DOM ELEMENT
  // svg {
  filter: drop-shadow(5px 2px 0px rgba(0, 63, 131, 0.2));
  // }

  .svg-container {
    transition: opacity 200ms;
    @include for-desktop-up {
      position: relative;
      right: 50%;
      // margin-left: auto;

      // margin-right: -30px;
      // transform: translateX(-30px);
      // max-width: 600px;
    }

    @include for-big-desktop-up {
      position: relative;
      right: 50%;
      // margin-right: -30px;
      // transform: translateX(-88px);
    }
  }

  .obscured {
    opacity: 0;
  }

  .shown {
    opacity: 1;
  }
}

// .background-image-container {
//   z-index: -10;
//   position: fixed;
//   display: block;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   // mix-blend-mode: darken;
//   // pointer-events: none;
// }

// .background-image {
//   object-fit: cover;
//   width: 100%;
//   height: 100%;
// }

// :global {
// body {
//   // background-image: url("./background.jpg");
//   // background-attachment: fixed;
//   // background-size: cover;

//   background: url(./background.jpg) no-repeat center center fixed;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
// }
// }
