/** @format */

@use "../../100-percent-correct-break-points.scss" as *;

.root {
  z-index: -2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  text-align: right;
  transition: opacity 1s;

  // Keep SVG in window
  svg {
    max-height: 160vh;
  }

  // @include for-desktop-up {
  //   width: calc(100vw / 2);
  //   max-width: 700px;
  // }

  // FIX FOR SAFARI BUG THAT CAUSES SLOW SCROLL UPDATES IF DROP-SHADOW
  // APPLIED TO THE SVG DIRECTLY SO JUST APPLY IT TO THE CONTAINING DOM ELEMENT
  // svg {
  filter: drop-shadow(5px 2px 0px rgba(0, 63, 131, 0.2));
  // }

  .svg-container {
    // Attempt to start down page
    // But causing issues when reloaded down page
    // transform: translate3d(0, 70%, 0);

    // Works better on the svg component itself
    // svg {
    //   transform: translate(0, -31%);
    // }
    transform-origin: top center;

    // transition: all 200ms;
    @include for-desktop-up {
      // position: relative;
      // right: 50%;

      // margin-left: auto;

      // margin-right: -30px;
      // transform: translateX(-30px);
      // max-width: 600px;
    }

    @include for-big-desktop-up {
      // position: relative;
      // right: 50%;

      // margin-right: -30px;
      // transform: translateX(-88px);
    }
  }

  // .obscured {
  //   opacity: 0;
  // }

  // .shown {
  //   opacity: 1;
  // }
}
