@use "../../100-percent-correct-break-points.scss" as *;

$fade-height: 390px;

.paragraph-start {
  // border: 1px dotted red;
  margin-bottom: 0;
  position: absolute;
  z-index: -1;
  width: 100%;

  // This was to try to get a matching patterned background
  // Now can be possibly done with mask-image
  // background: #fceee0;
  // background-image: url("../BackgroundTexture/assets/background.jpg");
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  // background-size: cover;
  // background-position: 50% 50%;

  // We are using a gradual gradient to avoid horizontal banding

  

  // Reference color: hsl(30, 82%, 93%)
  left: 0;

// LIGHTER TRIAL
  // f9e9dd or (26, 70%, 92%)


  background-image: linear-gradient(
      to bottom,
      hsla(26, 70%, 92%, 0) $fade-height * 0,
      hsla(26, 70%, 92%, 0.013) $fade-height * 0.081,
      hsla(26, 70%, 92%, 0.049) $fade-height * 0.155,
      hsla(26, 70%, 92%, 0.104) $fade-height * 0.225,
      hsla(26, 70%, 92%, 0.175) $fade-height * 0.29,
      hsla(26, 70%, 92%, 0.259) $fade-height * 0.353,
      hsla(26, 70%, 92%, 0.352) $fade-height * 0.412,
      hsla(26, 70%, 92%, 0.45) $fade-height * 0.471,
      hsla(26, 70%, 92%, 0.55) $fade-height * 0.529,
      hsla(26, 70%, 92%, 0.648) $fade-height * 0.588,
      hsla(26, 70%, 92%, 0.741) $fade-height * 0.647,
      hsla(26, 70%, 92%, 0.825) $fade-height * 0.71,
      hsla(26, 70%, 92%, 0.896) $fade-height * 0.775,
      hsla(26, 70%, 92%, 0.951) $fade-height * 0.845,
      hsla(26, 70%, 92%, 0.987) $fade-height * 0.919,
      hsl(26, 70%, 92%) $fade-height * 1,
      hsla(26, 70%, 92%, 1) $fade-height * 1.1,
      hsla(26, 70%, 92%, 1) $fade-height * 1.2,
      hsla(26, 70%, 92%, 0) $fade-height * 1.2,
      hsla(26, 70%, 92%, 0) 100%
    ),
    linear-gradient(
      to top,
      hsla(26, 70%, 92%, 0) $fade-height * 0,
      hsla(26, 70%, 92%, 0.013) $fade-height * 0.081,
      hsla(26, 70%, 92%, 0.049) $fade-height * 0.155,
      hsla(26, 70%, 92%, 0.104) $fade-height * 0.225,
      hsla(26, 70%, 92%, 0.175) $fade-height * 0.29,
      hsla(26, 70%, 92%, 0.259) $fade-height * 0.353,
      hsla(26, 70%, 92%, 0.352) $fade-height * 0.412,
      hsla(26, 70%, 92%, 0.45) $fade-height * 0.471,
      hsla(26, 70%, 92%, 0.55) $fade-height * 0.529,
      hsla(26, 70%, 92%, 0.648) $fade-height * 0.588,
      hsla(26, 70%, 92%, 0.741) $fade-height * 0.647,
      hsla(26, 70%, 92%, 0.825) $fade-height * 0.71,
      hsla(26, 70%, 92%, 0.896) $fade-height * 0.775,
      hsla(26, 70%, 92%, 0.951) $fade-height * 0.845,
      hsla(26, 70%, 92%, 0.987) $fade-height * 0.919,
      hsl(26, 70%, 92%) $fade-height * 1,
      hsla(26, 70%, 92%, 1) $fade-height * 1.1,
      hsla(26, 70%, 92%, 1) $fade-height * 1.2,
      hsla(26, 70%, 92%, 0) $fade-height * 1.2,
      hsla(26, 70%, 92%, 0) 100%
    ),
    linear-gradient(
      hsla(26, 70%, 92%, 0) 0%,
      hsla(26, 70%, 92%, 0) $fade-height,
      hsla(26, 70%, 92%, 1) $fade-height,
      hsla(26, 70%, 92%, 1) calc(100% - #{$fade-height}),
      hsla(26, 70%, 92%, 0) calc(100% - #{$fade-height}),
      hsla(26, 70%, 92%, 0) calc(100%)
    );

  @include for-desktop-up {
    background-image: unset;
  }
}




// background-image: linear-gradient(
//       to bottom,
//       hsla(30, 82%, 93%, 0) $fade-height * 0,
//       hsla(30, 82%, 93%, 0.013) $fade-height * 0.081,
//       hsla(30, 82%, 93%, 0.049) $fade-height * 0.155,
//       hsla(30, 82%, 93%, 0.104) $fade-height * 0.225,
//       hsla(30, 82%, 93%, 0.175) $fade-height * 0.29,
//       hsla(30, 82%, 93%, 0.259) $fade-height * 0.353,
//       hsla(30, 82%, 93%, 0.352) $fade-height * 0.412,
//       hsla(30, 82%, 93%, 0.45) $fade-height * 0.471,
//       hsla(30, 82%, 93%, 0.55) $fade-height * 0.529,
//       hsla(30, 82%, 93%, 0.648) $fade-height * 0.588,
//       hsla(30, 82%, 93%, 0.741) $fade-height * 0.647,
//       hsla(30, 82%, 93%, 0.825) $fade-height * 0.71,
//       hsla(30, 82%, 93%, 0.896) $fade-height * 0.775,
//       hsla(30, 82%, 93%, 0.951) $fade-height * 0.845,
//       hsla(30, 82%, 93%, 0.987) $fade-height * 0.919,
//       hsl(30, 82%, 93%) $fade-height * 1,
//       hsla(30, 82%, 93%, 1) $fade-height * 1.1,
//       hsla(30, 82%, 93%, 1) $fade-height * 1.2,
//       hsla(30, 82%, 93%, 0) $fade-height * 1.2,
//       hsla(30, 82%, 93%, 0) 100%
//     ),
//     linear-gradient(
//       to top,
//       hsla(30, 82%, 93%, 0) $fade-height * 0,
//       hsla(30, 82%, 93%, 0.013) $fade-height * 0.081,
//       hsla(30, 82%, 93%, 0.049) $fade-height * 0.155,
//       hsla(30, 82%, 93%, 0.104) $fade-height * 0.225,
//       hsla(30, 82%, 93%, 0.175) $fade-height * 0.29,
//       hsla(30, 82%, 93%, 0.259) $fade-height * 0.353,
//       hsla(30, 82%, 93%, 0.352) $fade-height * 0.412,
//       hsla(30, 82%, 93%, 0.45) $fade-height * 0.471,
//       hsla(30, 82%, 93%, 0.55) $fade-height * 0.529,
//       hsla(30, 82%, 93%, 0.648) $fade-height * 0.588,
//       hsla(30, 82%, 93%, 0.741) $fade-height * 0.647,
//       hsla(30, 82%, 93%, 0.825) $fade-height * 0.71,
//       hsla(30, 82%, 93%, 0.896) $fade-height * 0.775,
//       hsla(30, 82%, 93%, 0.951) $fade-height * 0.845,
//       hsla(30, 82%, 93%, 0.987) $fade-height * 0.919,
//       hsl(30, 82%, 93%) $fade-height * 1,
//       hsla(30, 82%, 93%, 1) $fade-height * 1.1,
//       hsla(30, 82%, 93%, 1) $fade-height * 1.2,
//       hsla(30, 82%, 93%, 0) $fade-height * 1.2,
//       hsla(30, 82%, 93%, 0) 100%
//     ),
//     linear-gradient(
//       hsla(30, 82%, 93%, 0) 0%,
//       hsla(30, 82%, 93%, 0) $fade-height,
//       hsla(30, 82%, 93%, 1) $fade-height,
//       hsla(30, 82%, 93%, 1) calc(100% - #{$fade-height}),
//       hsla(30, 82%, 93%, 0) calc(100% - #{$fade-height}),
//       hsla(30, 82%, 93%, 0) calc(100%)
//     );