@use "../../100-percent-correct-break-points.scss" as *;

.root {
  line-height: 1.66666667;
  font-size: 1.125rem;

  @include for-desktop-up {
    font-size: 1.375rem;
  }

  .panel-content-container {
    // padding: 20px 30px;
    position: relative;

    @include for-tablet-portrait-up {
      padding: 30px 2.25rem;
    }

    @include for-desktop-up {
      padding: 38px 2.9rem;
    }
  }
}

.hidden {
  position: absolute;
  top: 9999px;
  left: -9999px;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.stretch {
  width: 100%;
  height: 100%;
}
