@use "../../100-percent-correct-break-points.scss" as *;

.root {
  text-align: center;
  padding: 15px 18px;
  position: relative;
  margin-left: 15px;
  margin-right: 15px;

  @include for-desktop-up {
    padding: 24px 42px;
  }

  p {
    font-weight: 700;
    font-size: 21px;
    line-height: 1.5;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.stretch {
  width: 100%;
  height: 100%;
}
