.root {
  z-index: -5;
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  max-width: 700px;
  transform: translateX(-50%);

  .svg-layer {
    position: absolute;
    width: 100%;
  }

  // FIX FOR SAFARI BUG THAT CAUSES SLOW SCROLL UPDATES IF DROP-SHADOW
  // APPLIED TO THE SVG DIRECTLY SO JUST APPLY IT TO THE CONTAINING DOM ELEMENT
  // svg {
  filter: drop-shadow(5px 2px 0px rgba(0, 63, 131, 0.2));
  // }
}