$fade-height: 300px;

.paragraph-start {
  // border: 1px dotted red; // Guide lines
  margin-bottom: 0;
  position: absolute;
  z-index: -1;
  width: 100%;
  // background: #fceee0;
  // background-image: url("../BackgroundTexture/assets/background.jpg");
  background-repeat: no-repeat;
  // background-attachment: fixed;
  // background-size: cover;
  background-position: 50% 50%;
  left: 0;
  min-height: 150vh;

  // hsl(30, 82%, 93%)
  // background-image: linear-gradient(
  //     to bottom,
  //     hsla(30, 82%, 93%, 0) $fade-height * 0,
  //     hsla(30, 82%, 93%, 0.013) $fade-height * 0.081,
  //     hsla(30, 82%, 93%, 0.049) $fade-height * 0.155,
  //     hsla(30, 82%, 93%, 0.104) $fade-height * 0.225,
  //     hsla(30, 82%, 93%, 0.175) $fade-height * 0.29,
  //     hsla(30, 82%, 93%, 0.259) $fade-height * 0.353,
  //     hsla(30, 82%, 93%, 0.352) $fade-height * 0.412,
  //     hsla(30, 82%, 93%, 0.45) $fade-height * 0.471,
  //     hsla(30, 82%, 93%, 0.55) $fade-height * 0.529,
  //     hsla(30, 82%, 93%, 0.648) $fade-height * 0.588,
  //     hsla(30, 82%, 93%, 0.741) $fade-height * 0.647,
  //     hsla(30, 82%, 93%, 0.825) $fade-height * 0.71,
  //     hsla(30, 82%, 93%, 0.896) $fade-height * 0.775,
  //     hsla(30, 82%, 93%, 0.951) $fade-height * 0.845,
  //     hsla(30, 82%, 93%, 0.987) $fade-height * 0.919,
  //     hsl(30, 82%, 93%) $fade-height * 1,
  //     hsla(30, 82%, 93%, 1) $fade-height * 1.1,
  //     hsla(30, 82%, 93%, 1) $fade-height * 1.2,
  //     hsla(30, 82%, 93%, 0) $fade-height * 1.2,
  //     hsla(30, 82%, 93%, 0) 100%
  //   ),
  //   linear-gradient(
  //     to top,
  //     hsla(30, 82%, 93%, 0) $fade-height * 0,
  //     hsla(30, 82%, 93%, 0.013) $fade-height * 0.081,
  //     hsla(30, 82%, 93%, 0.049) $fade-height * 0.155,
  //     hsla(30, 82%, 93%, 0.104) $fade-height * 0.225,
  //     hsla(30, 82%, 93%, 0.175) $fade-height * 0.29,
  //     hsla(30, 82%, 93%, 0.259) $fade-height * 0.353,
  //     hsla(30, 82%, 93%, 0.352) $fade-height * 0.412,
  //     hsla(30, 82%, 93%, 0.45) $fade-height * 0.471,
  //     hsla(30, 82%, 93%, 0.55) $fade-height * 0.529,
  //     hsla(30, 82%, 93%, 0.648) $fade-height * 0.588,
  //     hsla(30, 82%, 93%, 0.741) $fade-height * 0.647,
  //     hsla(30, 82%, 93%, 0.825) $fade-height * 0.71,
  //     hsla(30, 82%, 93%, 0.896) $fade-height * 0.775,
  //     hsla(30, 82%, 93%, 0.951) $fade-height * 0.845,
  //     hsla(30, 82%, 93%, 0.987) $fade-height * 0.919,
  //     hsl(30, 82%, 93%) $fade-height * 1,
  //     hsla(30, 82%, 93%, 1) $fade-height * 1.1,
  //     hsla(30, 82%, 93%, 1) $fade-height * 1.2,
  //     hsla(30, 82%, 93%, 0) $fade-height * 1.2,
  //     hsla(30, 82%, 93%, 0) 100%
  //   ),
  //   linear-gradient(
  //     hsla(30, 82%, 93%, 0) 0%,
  //     hsla(30, 82%, 93%, 0) $fade-height,
  //     hsla(30, 82%, 93%, 1) $fade-height,
  //     hsla(30, 82%, 93%, 1) calc(100% - #{$fade-height}),
  //     hsla(30, 82%, 93%, 0) calc(100% - #{$fade-height}),
  //     hsla(30, 82%, 93%, 0) calc(100%)
  //   );
}
