@use "./100-percent-correct-break-points.scss" as *;

.panel {
  // padding: 0 15px !important;
  // margin-top: 92vh;
  // margin-bottom: 92vh;
  line-height: 1.66666667;
  font-size: 1.125rem;
  padding-left: 15px !important;
  padding-right: 15px !important;
  padding-top: 45vh !important;
  padding-bottom: 45vh !important;

  @include for-desktop-up {
    font-size: 1.375rem;
    // position: relative;
    // left: 50%;
    // margin-left: 0 !important;
    // width: calc(100vw / 2.1);
    // max-width: 650px;
  }

  .panel-content-container {
    padding: 20px 30px;
    position: relative;

    @include for-tablet-portrait-up {
      padding: 30px 2.25rem;
    }

    @include for-desktop-up {
      padding: 35px 2.75rem;
    }

    > h4 {
      font-size: 17px;
      text-align: center;
      margin-top: 1rem;
      margin-bottom: 0.2rem;
    }

    > h3 {
      font-size: 26px;
      text-align: center;
      margin: 0.2rem;
      line-height: 1.3em;
    }

    > h5 {
      font-size: 13px;
      text-align: center;
      margin-top: 0.6rem;
      margin-bottom: 1rem;
      font-family: ABCSans, sans-serif;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      font-weight: 900;
    }
  }
}

// .panel:first-of-type {
//   margin-top: 180vh;
// }

:global {
  .nopullright {
    @include for-desktop-up {
      // transform: translateX(-50%);
    }
  }

  .organic-panel-background {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
  }

  .organic-panel-style-stretch {
    width: 100%;
    height: 100%;
  }
}
