@use "./100-percent-correct-break-points.scss" as *;

.panel {
  // padding: 0 15px !important;
  // margin-top: 92vh;
  // margin-bottom: 92vh;
  line-height: 1.66666667;
  font-size: 1.125rem;
  padding-left: 15px !important;
  padding-right: 15px !important;
  padding-top: 40vh !important;
  padding-bottom: 40vh !important;
  max-width: 610px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;

  // Push panel on Desktop
  @include for-desktop-up {
    padding-top: 0vh !important;
    padding-bottom: 0vh !important;
    margin-top: 25vh;
    margin-bottom: 25vh;
    font-size: 1.375rem;
    position: relative;
    left: 50%;
    margin-left: 0 !important;
    width: calc(100vw / 2.5);
    // max-width: 500px;
  }

  .panel-content-container {
    padding: 15px 30px;
    position: relative;
    text-align: left;

    @include for-tablet-portrait-up {
      padding: 18px 2.5rem;
    }

    @include for-desktop-up {
      padding: 26px 3.3rem;
    }

    > h4 {
      font-size: 17px;
      text-align: center;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      color: inherit;
      font-weight: 700;
      margin-left: -20px;
      margin-right: -20px;
    }

    > h3 {
      font-size: 26px;
      text-align: center;
      margin-top: 0.2rem;
      margin-bottom: 0.2rem;
      line-height: 1.3em;
      color: inherit;
      font-weight: 700;
      margin-left: -20px;
      margin-right: -20px;
    }

    > h5 {
      font-size: 17px;
      text-align: center;
      margin-top: 0.8rem;
      margin-bottom: 1rem;
      font-family: ABCSerif, serif;
      font-weight: 700;
      color: inherit;
      margin-left: -20px;
      margin-right: -20px;
    }

    strong {
      color: inherit;
    }

    p {
      margin-top: 1.3333333em;
      margin-bottom: 1.3333333em;
    }

    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}

// .panel:first-of-type {
//   margin-top: 180vh;
// }

:global {
  .nopullright {
    @include for-desktop-up {
      // transform: translateX(-50%);
    }
  }

  .organic-panel-background {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    // border: 40px solid transparent;
    // Transparent border apparently makes it invisible in Safari iOS and Mac
    border-style: solid;
    border-width: 40px;

    &.variation-0 {
      border-image-source: url(./components/OrganicPanel/organic-panel-background-variation-1.svg);
    }

    &.variation-1 {
      border-image-source: url(./components/OrganicPanel/organic-panel-background-variation-2.svg);
    }

    &.variation-2 {
      border-image-source: url(./components/OrganicPanel/organic-panel-background-variation-3.svg);
    }

    border-image-slice: 80 80 80 80;
    opacity: 0.9;
  }

  // TRYING A 9 slice scale. The following may not be needed anymore.
  .organic-panel-style-stretch {
    width: 100%;
    height: 100%;
    opacity: 0.9;
  }

  .panel-flat-fill {
    height: 100%;
    background-color: #fff8f0;
  }

  div > .u-dropcap::first-letter {
    float: left;
    padding-top: 6.4px;
    padding-right: 4px;
    font-size: 3.46875rem;
    font-weight: bold;
    line-height: 0.78; // Gecko ignores this

    @media (min-width: 700px) {
      padding-top: 8px;
      font-size: 3.625rem;
      line-height: 0.74; // Gecko ignores this
    }
  }

  // TODO: Maybe do a loading indicator
  // #content {
  //   visibility: hidden;
  // }

  // #content.visible {
  //   visibility: visible;
  // }
}
